<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>角色列表</title>
        <header th:replace="header.html"></header>
    </head>
    <body>

    <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">角色管理</a>
            <a>
                <cite>角色列表</cite></a>
          </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>

    <div class="layui-fluid">
        <div class="layui-row  layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form  layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">

                                <div class="layui-inline">
                                    <label class="layui-form-label">角色名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name"  autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                            </div>

                            </div>
                        </form>

                    </div>


                    <button class="layui-btn layui-btn-danger" onclick="delAll()" permission="sys:role:del" ><i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn layui-btn-warm"   onclick="xadmin.open('添加角色','/role/add')" permission="sys:role:add" ><i class="layui-icon"></i>添加</button>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-hide" id="table" lay-filter="member"></table>
                </div>

                <div class="layui-card-body ">
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit" permission="sys:role:edit" >编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" permission="sys:role:del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        layui.use(['table','form','layer'], function(){
            $ = layui.jquery;
            var table = layui.table,
                form = layui.form,
                layer = layui.layer;




            //第一个实例
            table.render({
                elem: '#table'
                ,height: 300
                ,method: 'post'
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,url: '/role/findRolesPage' //数据接口
                ,response:{
                    dataName:'datas'
                }
                ,page: true

                ,cols: [
                    [ //表头
                     {type:  'checkbox',fixed: 'left',width: '80'}
                    ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'name', title: '角色名', width:80}
                    ,{field: 'description', title: '描述', width: 110}
                    ,{field: 'createtime', title: '创建时间', width: 130, sort: true}
                    ,{field: 'updatetime', title: '更新时间', width: 130, sort: true}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}

                   ]
                ],
                done:function(){
                    checkPermission()
                }
            });




            //监听工具条
            table.on('tool(member)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除改角色吗？', function(index){
                        $.ajax({
                            url:"/role/delRole",
                            type:"POST",
                            data:{roleId:data.id},
                            dataType:'json',
                            success:function(result){
                                if(result.code=200 ){
                                    layer.alert("删除成功", {icon: 1},function (index1) {
                                        layer.close(index1);
                                        //xadmin.father_reload();
                                        table.reload('table');
                                    });
                                }else{
                                    layer.alert("删除失败" );
                                }

                            },
                        });
                    });
                } else if(obj.event === 'edit'){
                    xadmin.open('编辑用户信息','/role/edit/?id='+data.id);
                }
            });



            //搜索
            form.on('submit(search)', function(data){
                var name = data.field.name;


                table.render({
                    elem: '#table'
                    ,method:'POST'
                    ,url: '/role/findRolesPageSearch' //数据接口
                    ,page: true //开启分页
                    ,where:{
                        "name":name

                    }
                    ,response: {
                        countName: 'count', //规定数据总数的字段名称，默认：count
                        dataName: 'datas' //规定数据列表的字段名称，默认：data
                    }
                    ,cols: [
                        [ //表头
                            {type:  'checkbox',fixed: 'left',width: '80'}
                            ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                            ,{field: 'name', title: '角色名', width:80}
                            ,{field: 'description', title: '描述', width: 110}
                            ,{field: 'createtime', title: '创建时间', width: 130, sort: true}
                            ,{field: 'updatetime', title: '更新时间', width: 130, sort: true}
                            ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}


                        ]
                    ]
                });
                return false;
            });

            checkPermission()

        });
    </script>

</html>